In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_excel('Grades.xlsx')
data.head()

       Name  English  Science  Hindi  Maths  Social Subjects
0     Utsav       77       80     90     94      91    Maths
1    Shagun       97       96     89     99      88  English
2     Sagar       88       67     67     87      96    Hindi
3   Shubham       90       82     83     90      94   Social
4  Abhishek       89       77     95     84      95  Science

In [3]:
num_columns=data.shape[1]
print(num_columns)

7

In [4]:
num_columns=data.shape[1]
print(num_columns)

7

In [5]:
#mathematical operation

data['Total_Score'] = data.sum(axis=1)
print(data)

output_file = 'python_excel_automation.xlsx'
with pd.ExcelWriter(output_file) as writer:
    # Save the DataFrame as a sheet named 'Sheet1' in the workbook
    data.to_excel(writer, sheet_name='Arithmetics', index=False)

print("DataFrame saved to Excel file as sheet 'Arithmetics':", output_file)

       Name  English  Science  Hindi  Maths  Social Subjects  Total_Score
0     Utsav       77       80     90     94      91    Maths          432
1    Shagun       97       96     89     99      88  English          469
2     Sagar       88       67     67     87      96    Hindi          405
3   Shubham       90       82     83     90      94   Social          439
4  Abhishek       89       77     95     84      95  Science          440
DataFrame saved to Excel file as sheet 'Arithmetics': python_excel_automation.xlsx

In [6]:
# If-else conditioning
num_rows = data.shape[0]
for i in range(0, num_rows):  # Corrected the range
    if data['English'].iloc[i] > data['Hindi'].iloc[i]:  # Corrected indexing and comparison
        data.at[i, 'Result'] = "The student is good in English"  # Corrected assignment
        
    else:
        data.at[i, 'Result'] = "The student needs improvement"  # Corrected assignment
        
        
data['Rank']=data['Total_Score'].rank(method='max',ascending=False)
data.head()

,Name,English,Science,Hindi,Maths,Social,Subjects,Total_Score,Result,Rank
0,Utsav,77,80,90,94,91,Maths,432,The student needs improvement,4.0
1,Shagun,97,96,89,99,88,English,469,The student is good in English,1.0
2,Sagar,88,67,67,87,96,Hindi,405,The student is good in English,5.0
3,Shubham,90,82,83,90,94,Social,439,The student is good in English,3.0
4,Abhishek,89,77,95,84,95,Science,440,The student needs improvement,2.0

In [7]:
def highlight_result(data):
    # Assuming the column 'Result' is present in the DataFrame
    # Also, fixing the typo in the condition ("students" -> "student")
    if data['Result'] == "The student is good in English":
        return ['background-color: Green'] * len(data)
    else:
        return ['background-color: Yellow'] * len(data)

# Create a copy of the DataFrame and apply styling to the copy
styled_data = data.copy()
styled_data = styled_data.style.apply(highlight_result, axis=1)

# Display the styled DataFrame
styled_data

In [8]:
output_file = 'python_excel_automation.xlsx'
with pd.ExcelWriter(output_file, engine='openpyxl', mode='a') as writer:
    # Save the DataFrame as a new sheet in the existing workbook
    styled_data.to_excel(writer, sheet_name='Conditionals', index=False)

print("DataFrame saved to Excel file as sheet 'Conditionals' in existing workbook:", output_file)

DataFrame saved to Excel file as sheet 'Conditionals' in existing workbook: python_excel_automation.xlsx